@media (max-width: 479px) {

    :root {
        --font_size: 16px;
        --font_size_title: 26px;
    }
    .cont {
        padding: 0 15px;
    }
    .block {
        padding: 20px 0;
    }
    .advantages_items {
        display: none;
    }
    .advantages_slider {
        display: block;
    }
    .slider_item-img {
        position: relative;
    }
    .slider_item-img img {
        width: 100%;
    }
    .slider_item-img-logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 66px 31px;
    }
    .slider_item-title {
        margin-top: 25px;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
    }
    .slider_item-text {
        margin-top: 11px;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 30px;
    }
    .slick-dots button {
        font-size: 0px;
    }
    .slick-dots li {
        background: #C9C9C9;
        border-radius: 90px;
        width: 9px;
        height: 9px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .slick-dots .slick-active {
        background: #56994C;
    }


 

}
